{
	"jsxSingleQuote": true,
	"singleQuote": true,
	"useTabs": true,
	"tabWidth": 2,
	"experimentalTernaries": true,
	"experimentalOperatorPosition": "start",
	"trailingComma": "es5",
	"bracketSameLine": true,
	"singleAttributePerLine": true,
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"objectWrap": "preserve",
	"proseWrap": "always",
	"printWidth": 100,
	"semi": false,
	"quoteProps": "as-needed",
	"plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
	"tailwindStyleSheet": "./src/styles/global.css",
	"tailwindFunctions": ["cn", "cva"],
	"overrides": [
		{
			"files": "*.css",
			"options": {
				"singleQuote": false
			}
		}
	]
}
