p {
    margin-bottom: 24px;
}

ul {
    list-style: disc;
    margin-bottom: 24px;
}

ul li {
    margin-left: 24px;
    list-style: disc;
}

a {
    font-weight: bold;
    text-decoration: underline;
}

a:hover {
    color: var(--color-hml-yellow);
}