@use 'sass:map';
@use 'sass:color';

$theme-colors-brand: (
    red: color.to-space(#ac162b, hsl),
    mulberry: color.to-space(#7a2235, hsl),
    yellow: color.to-space(#dae638, hsl),
    purple: color.to-space(#47274e, hsl),
    slate: color.to-space(#222d30, hsl),
    grey: color.to-space(#e9edf3, hsl)
);

$theme-colors-elevation: (
    dark: (
        base: color.to-space(#17191c, hsl),
        section: hsl(216, 10%, 13%),
        card: hsl(216, 13%, 16%)
    ),
    light: (
        base: oklch(98.5% 0 0),
        section: oklch(96.7% 0.001 286.375),
        card: oklch(92% 0.004 286.32)
    )
);

$theme-colors: (
    brand: $theme-colors-brand,
    grey: (
        '900': color.to-space(#222d30, hsl),
        '600': color.to-space(#2a2e34, hsl),
        '400': color.to-space(#5e646e, hsl),
        '300': color.to-space(#7e8691, hsl),
        '200': color.to-space(#a8b0bc, hsl),
        '50': color.to-space(#f5f7fa, hsl)
    ),
    red: (
        '900': color.to-space(#2d060b, hsl),
        '700': color.to-space(#680d1a, hsl),
        '500': map.get($theme-colors-brand, red),
        '300': color.to-space(#e9586d, hsl),
        '100': color.to-space(#f39ba8, hsl),
        '50': color.to-space(#fbdfe3, hsl)
    ),
    mulberry: (
        '900': color.to-space(#250e11, hsl),
        '700': color.to-space(#552027, hsl),
        '500': map.get($theme-colors-brand, mulberry),
        '300': color.to-space(#b7576c, hsl),
        '100': color.to-space(#dbb3bc, hsl),
        '50': color.to-space(#f2e8ea, hsl)
    ),
    yellow: (
        '900': color.to-space(#222404, hsl),
        '700': color.to-space(#5a5f0c, hsl),
        '500': color.to-space(#a2ac15, hsl),
        '300': map.get($theme-colors-brand, yellow),
        '100': color.to-space(#f0f4a8, hsl),
        '50': color.to-space(#f9fbe1, hsl)
    ),
    purple: (
        '900': color.to-space(#261a28, hsl),
        '700': map.get($theme-colors-brand, purple),
        '500': color.to-space(#74447e, hsl),
        '300': color.to-space(#ae8bb6, hsl),
        '100': color.to-space(#ccbdd0, hsl),
        '50': color.to-space(#f0ebf1, hsl)
    ),
    slate: (
        '900': color.to-space(#161b1d, hsl),
        '800': color.to-space(#1d2426, hsl),
        '700': map.get($theme-colors-brand, slate),
        '600': color.to-space(#324146, hsl),
        '500': color.to-space(#42585e, hsl),
        '300': color.to-space(#81989e, hsl),
        '100': color.to-space(#d4dadc, hsl),
        '50': color.to-space(#edf1f2, hsl)
    )
);

@function theme($elevationNum) {
    $darkmode: map.get($theme-colors-elevation, dark);
    $lightmode: map.get($theme-colors-elevation, light);

    @if $elevationNum == 0 {
        @return light-dark(#{map.get($lightmode, base)}, #{map.get($darkmode, base)});
    } @else if $elevationNum == 1 {
        @return light-dark(map.get($lightmode, section), map.get($darkmode, section));
    } @else if $elevationNum == 2 {
        @return light-dark(map.get($lightmode, card), map.get($darkmode, card));
    }
}

@mixin root-colors {
    --color-background: #{theme(0)};
}
