$font-sans: var(--font-open-sans);
$font-subtitle: var(--font-roboto);
$font-heading: var(--font-atkinson-hyperlegible), sans-serif;
$font-serif: questa, serif;

@mixin fonts {
    --font-sans: #{$font-sans};
    --font-subtitle: #{$font-subtitle};
    --font-heading: #{$font-heading};
    --font-serif: #{$font-serif};
}
