@layer base {
	body,
	html {
		font-family: var(--font-sans), sans-serif;
		min-width: 100vw;
		min-height: 100vh;
		margin: 0;
		padding: 0;
		background-color: var(--color-zinc-200);
		@media (prefers-color-scheme: dark) {
			background-color: var(--color-zinc-900);
		}
	}

	:is(body, html) {
		&:has(#homePage, #map) {
			background-color: var(--color-background);
		}
	}

	strong {
		font-weight: 600;
	}
}

@layer utilities {
	body {
		&:has(#map) {
			overflow: hidden;
			footer {
				display: none;
			}
			header {
				background-color: --alpha(var(--color-background) / 100%);
			}
			header nav menu {
				display: flex;
				justify-content: space-around;
			}
			header nav menu a {
				max-width: fit-content;
				text-decoration: underline;
				text-underline-offset: 0.2rem;
				padding-right: 1rem;
				height: max-content;
				padding-block: 0.5rem;
				background-color: transparent;
				color: var(--text-foreground);
				&[data-active] {
					text-decoration-color: var(--color-red-500);
					font-style: normal;
					svg {
						color: var(--color-red-300);
					}
				}

				&:hover {
					background-color: --alpha(
						var(--color-background) / 90%
					) !important;
				}
			}
		}
	}
}
