:root {
	--radius: 0.625rem;
}

:root {
	--theme-black: oklch(0.145 0 0);
	--theme-white: oklch(0.985 0 0);

	--background: white;
	--foreground: var(--theme-black);

	--card: white;
	--card-foreground: var(--theme-black);

	--popover: white;
	--popover-foreground: var(--theme-black);

	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);

	--secondary: var(--color-red-900);
	--secondary-foreground: white;

	--muted: var(--theme-white);
	--muted-foreground: oklch(0.556 0 0);

	--accent: var(--theme-white);
	--accent-foreground: oklch(0.205 0 0);

	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);

	--sidebar: oklch(0.94 0 27.11);
	--sidebar-foreground: oklch(0.205 0 0);

	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: var(--theme-white);

	--sidebar-accent: #7b0707;
	--sidebar-accent-foreground: var(--theme-white);

	--sidebar-muted: var(--color-neutral-500);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);

	--btn-primary: var(--color-red-600);
	--btn-secondary: #7e0a08;
	--btn-text: var(--color-white);

	--shadow-color: rgba(0, 0, 0, 0.1);
}

.dark {
	--background: var(--theme-black);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: var(--theme-white);
	--popover: oklch(0.205 0 0);
	--popover-foreground: var(--theme-white);
	--primary: oklch(0.922 0 0);
	--primary-foreground: var(--color-red-500);
	--secondary: var(--color-red-900);
	--secondary-foreground: var(--theme-white);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: var(--theme-white);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);

	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: var(--theme-white);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: var(--theme-white);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);

	--btn-primary: var(--color-red-500);
	--btn-secondary: var(--color-red-900);
	--btn-text: var(--color-white);

	--shadow-color: rgba(255, 255, 255, 0);
}

:root {
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);

	--destructive: oklch(0.577 0.245 27.325);
}

.dark {
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);

	--destructive: oklch(0.704 0.191 22.216);
}
