@import "tailwindcss";
@import "./admin/adminStyles.css";
@import "tw-animate-css";

/* #region THEME */
:root {
	color-scheme: light dark;
	--radius: 0.625rem;

	--theme-black: oklch(0.145 0 0);
	--theme-white: oklch(0.985 0 0);

	--popover: white;
	--popover-foreground: var(--theme-black);

	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);

	--secondary: var(--color-red-900);
	--secondary-foreground: white;

	--accent: var(--theme-white);
	--accent-foreground: oklch(0.205 0 0);

	--sidebar: oklch(0.94 0 27.11);
	--sidebar-foreground: oklch(0.205 0 0);

	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: var(--theme-white);

	--sidebar-accent: #7b0707;
	--sidebar-accent-foreground: var(--theme-white);

	--sidebar-muted: var(--color-neutral-500);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);

	--shadow-color: rgba(0, 0, 0, 0.1);

	--copy-foreground: oklch(39.793% 0.00005 271.152);

	--muted: oklch(0.922 0 0);
	--muted-foreground: oklch(0.556 0 0);

	--border: oklch(0.145 0 0);
	--input: oklch(0.145 0 0);
	--ring: oklch(0.145 0 0);

	--error: var(--color-brand-bright);
	--warning: var(--color-yellow-600);
	--success: var(--color-green-600);

	--card-foreground: #000;
	--card: #fff;

	--section-foreground: #000;
	--section-background: #fff;
}

:root {
	--background: white;
	--foreground: oklch(0.145 0 0);

	--brand: var(--color-red-800);
	--brand-bright: var(--color-red-600);
	--brand-bright-link: var(--color-red-600);
	--brand-muted: var(--color-red-400);

	--muted: oklch(91.717% 0.04244 17.819);

	--mulberry: #7a2235;
}

.dark {
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: var(--theme-white);
	--popover: oklch(0.205 0 0);
	--popover-foreground: var(--theme-white);
	--primary: oklch(0.922 0 0);
	--primary-foreground: var(--color-red-500);
	--secondary: var(--color-red-900);
	--secondary-foreground: var(--theme-white);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: var(--theme-white);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(100% 0.00011 271.152);

	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: var(--theme-white);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: var(--theme-white);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);

	--brand: #942220;
	--brand-bright: #c3281c;
	--brand-bright-link: #ff867d;

	--brand-muted: #e85e52;

	--background: #181818;
	--card: #2a2a2a;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
	--font-sans: var(--font-open-sans, Open Sans), sans-serif;
	--font-heading: questa-grande, serif;
	--font-serif: questa, serif;
	--breakpoint-xs: 400px;

	--color-copy: var(--copy-foreground);

	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-muted: var(--sidebar-muted);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);

	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-foreground: var(--foreground);
	--color-background: var(--background);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--color-accent-primary: var(--color-brand-bright);

	--color-btn-primary: var(--btn-primary);
	--color-btn-secondary: var(--btn-secondary);
	--color-btn-text: var(--btn-text);

	--color-shadow: var(--shadow-color);

	/* --- IMPLEMENTED --- */
	--color-brand: var(--brand);
	--color-brand-bright: var(--brand-bright);
	--color-brand-bright-link: var(--brand-bright-link);
	--color-brand-muted: var(--brand-muted);

	--color-mulberry: var(--mulberry);
}
/* #endregion */

@media print {
	:root {
		--font-sans: var(--font-serif, questa-grande), serif;
		--font-serif: JetBrains Mono, monospace !important;
	}
	menu,
	footer {
		display: none !important;
	}
	* {
		background-color: transparent !important;
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
		text-size-adjust: 100%;
	}
	main a {
		@apply not-italic! no-underline! decoration-0!;
		&::after {
			content: " (https://helpmeleave.us" attr(href) ")";
			color: black;
			font-weight: normal;
		}
	}
	.callout .callout-title svg {
		display: none;
	}
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	::-webkit-search-cancel-button {
		-webkit-appearance: none;
		appearance: none;
		display: none;
	}

	:is(h1, h2, h3, h4, h5, h6) + ul {
		margin-top: 0 !important;
	}
}

/* #region UTILITIES */
@utility inverted {
	filter: invert(1) hue-rotate(180deg);
}

@utility click {
	cursor: pointer;
}

@utility text-muted {
	color: var(--color-muted-foreground);
}

@utility no-print {
	@media print {
		display: none !important;
	}
}

@utility print-only {
	@media not print {
		display: none !important;
	}
}

@utility search-no-picker {
	&::-webkit-calendar-picker-indicator {
		display: none !important;
		appearance: none;
		-webkit-appearance: none;
	}
}
/* #endregion */

.callout {
	padding: 0.75rem 1.5rem;

	&:is([data-collapsible="true"]) {
		&:has(.callout-title:hover) {
			@apply brightness-50 transition-all;
		}
		.callout-title {
			@apply click;
			&:not(.callout[open] *) {
				@apply mb-0;
			}
		}
	}
	.callout-title {
		gap: 2rem;
		@apply mb-0 flex text-xl font-semibold text-[var(--rc-color-light)] dark:text-[var(--rc-color-dark)];
		svg {
			width: 28px !important;
			height: 28px !important;
			stroke-width: 1.25px;
		}
	}
	.callout-content {
		:is(ul, ol) {
			@apply ml-16;
			li {
				@apply my-1 pl-2;
			}
			&:first-child {
				margin-top: 0 !important;
			}
		}
	}
	&:is([data-callout="important"]) {
		--rc-color-light: var(--color-yellow-800) !important;
		--rc-color-dark: var(--color-yellow-500) !important;
	}
	&:is([data-callout="todo"]) {
		--rc-color-light: var(--color-purple-800) !important;
		--rc-color-dark: var(--color-purple-500) !important;
	}
	a {
		@apply text-sm font-semibold italic underline decoration-2 hover:decoration-[var(--rc-color-light)];
	}
	@apply mx-auto max-w-2xl;
}

[data-footnotes] {
	margin-inline: auto;
	max-width: 75%;
	background-color: var(--color-card);
	border-radius: var(--radius-lg);
	@apply border-border *:[ol]:marker:text-accent-primary border shadow-md **:[a]:italic **:[a]:decoration-0 *:[ol]:marker:text-xs;
	.data-footnote-backref {
		@apply text-accent-primary/50 no-underline decoration-0;
	}
}

@layer base {
	body,
	html {
		font-family: var(--font-sans), sans-serif;
		min-width: 100vw;
		min-height: 100vh;
		margin: 0;
		padding: 0;
		background-color: var(--background);
		@media (prefers-color-scheme: dark) {
			background-color: var(--color-zinc-900);
		}
	}

	:is(body, html) {
		&:has(#mobile-hero) {
			height: 100vh;
		}
		&:has(#homePage, #map) {
			background-color: var(--color-background);
		}
	}

	strong {
		font-weight: 600;
	}
}

@layer utilities {
	body {
		&:has(#map) {
			overflow: hidden;
			footer {
				display: none;
			}
		}
	}
}

@custom-variant list-label {
	&:is(li:has(> ol, ul)):not(li ul li, li ol li, li + li, .not-list-label) {
		@slot;
	}
	&:is(ul):has(> li > ol, > li > ul):not(.not-list-label) {
		@slot;
	}
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

body:has(.admin) {
	main {
		@apply max-md:px-0;
	}
	div:has(> p + h1 + p),
	hgroup {
		@apply max-md:px-6;
	}
}

@utility admin-mobile-padding {
	@apply px-6 md:px-0;
}
