@theme {
	--color-v2-red: #ac162b;
	--color-v2-mulberry: #7a2235;
	--color-v2-yellow: #dae638;
	--color-v2-purple-brand: #47274e;
	--color-v2-slate: #222d30;
	--color-v2-grey: #e9edf3;

	--color-ring-color: light-dark(var(--color-v2-red), var(--color-v2-yellow));
	--color-interactive: light-dark(var(--color-v2-red), var(--color-v2-yellow));
}

section > *:is(h1, h2, h3, h4, h5, h6) + form {
	margin-top: 0;
}

[data-layout="page"]:has([class*="page-full"]) {
	@apply px-0;
	[class*="page-full"] .page-auto {
		@apply px-6 lg:px-8;
	}
	& > *:not([class*="page-full"]) {
		@apply px-6 lg:px-8;
	}
}
