@import "tailwindcss";
@import "./style.css";
@import "./colors.css";

@theme {
	--animate-nav-open: nav-open cubic-bezier(0.6, -0.28, 0.74, 0.05) forwards;
	--animate-nav-close: nav-open cubic-bezier(0.6, -0.28, 0.74, 0.05) backwards;
	--animate-nav-pinned: nav-pinned 0.5s ease forwards;
	--animate-nav-unpinned: nav-pinned 0.5s ease backwards;

	@keyframes nav-open {
		from {
			width: 3.5rem;
		}
		to {
			width: 14rem;
		}
	}

	@keyframes nav-pinned {
		from {
			padding-left: 0rem;
			padding-right: 0rem;
			padding-block: 0rem;
		}
		to {
			padding-block: 0.5rem;
			padding-left: 0.5rem;
			padding-right: 0rem;
		}
	}
}

:root {
	color-scheme: light dark;
	--radius: 0.625rem;
}

@layer base {
	@media (prefers-color-scheme: dark) {
		:root {
			color-scheme: dark;
		}
	}
	html,
	body {
		font-family: var(--font-sans), sans-serif;
		min-width: 100vw;
		max-width: 100vw;
		min-height: 100vh;
		margin: 0;
		padding: 0;
	}

	strong,
	b {
		font-weight: 600;
	}
}

@utility eyebrow {
	@apply text-hml-red-500 px-1 text-sm leading-[1.25lh] italic;
}

@utility subtitle {
	@apply text-muted font-sans leading-relaxed font-extralight sm:text-balance;
}

@utility title-page {
	@apply grid content-start gap-1;
	& > .eyebrow {
		@apply text-hml-red-500 px-1 font-sans text-sm leading-[1.25lh] italic;
	}
	& > .subtitle {
		@apply text-2xl font-light;
	}
	& > *:not(.eyebrow):not(.subtitle),
	&:not(*:has(.eyebrow)):not(*:has(.subtitle)) {
		@apply text-foreground font-heading text-[2.5rem] leading-none font-bold tracking-tight text-pretty capitalize;
	}
}

@utility title-section {
	@apply title-page;
	& > .eyebrow {
		@apply text-hml-red-500 px-1 text-sm leading-[1.25lh] italic;
	}
	& > .subtitle {
		@apply text-[1.1em] leading-[1.25lh];
	}
	& > *:not(.eyebrow):not(.subtitle),
	&:not(*:has(.eyebrow)):not(*:has(.subtitle)) {
		@apply text-3xl;
	}
}

@utility title-subsection {
	@apply text-hml-mulberry-500 dark:text-hml-yellow-100 font-sans text-[1.3rem] font-semibold tracking-wider uppercase italic;
	& + .subtitle {
		@apply text-[1.025rem];
	}
}

@utility btn-focus {
	@apply focus-outline;
	&:hover:focus {
		@apply outline-interactive;
	}
}
@utility link-focus {
	@apply focus-outline decoration-foreground rounded transition-all focus-visible:decoration-1 focus-visible:outline-offset-6;
	&:hover:focus-visible {
		@apply outline-interactive;
	}
}

@utility focus-outline {
	@apply outline-interactive outline-offset-4 transition-colors;
	&:is(a) {
		@apply outline-offset-6;
	}
}

@utility form-base {
	@apply has-data-disabled:opacity-50 has-data-disabled:before:bg-zinc-950/5 has-data-disabled:before:shadow-none;
}

@utility form-base-shadow {
	@apply before:bg-input before:absolute before:inset-px before:rounded-[calc(var(--radius-lg)-1px)] before:shadow-sm dark:before:hidden;
}

@utility form-base-focus {
	@apply sm:focus-within:after:ring-interactive/60 after:pointer-events-none after:absolute after:inset-0 after:rounded-lg after:ring-transparent after:ring-inset sm:focus-within:after:ring-2;
}

@utility form-border {
	@apply dark:border-form-border rounded-lg border border-zinc-950/10 focus:outline-hidden data-hover:border-zinc-950/20 dark:data-hover:border-white/20;

	&[data-invalid] {
		@apply border-red-500/40 data-hover:border-red-500 dark:border-red-600/40 dark:data-hover:border-red-600;
	}
	&:is([data-invalid] *) {
		@apply border-red-500/40 data-hover:border-red-500 dark:border-red-600/40 dark:data-hover:border-red-600;
	}
	&[data-disabled] {
		@apply border-form-border dark:border-form-border dark:data-hover:border-form-border;
	}
}

@utility form-bg {
	@apply dark:bg-input/30 dark:data-disabled:bg-input/15 bg-transparent;
}

@utility form-text {
	@apply text-base/6 text-zinc-950 placeholder:text-zinc-500 sm:text-sm/6 dark:text-white;
}
