@theme static {
	--color-hml-slate: #222d30;
	--color-hml-red: #ac162b;
	--color-hml-mulberry: #7a2235;
	--color-hml-grey: #e9edf3;
	--color-hml-yellow: #dae638;
	--color-hml-purple: #47274e;
}

@theme {
	--color-hml-grey-900: #222d30;
	--color-hml-grey-600: #2a2e34;
	--color-hml-grey-400: #5e646e;
	--color-hml-grey-300: #7e8691;
	--color-hml-grey-200: #a8b0bc;
	--color-hml-grey-50: var(--color-hml-grey);

	--color-hml-red-900: #2d060b;
	--color-hml-red-700: #680d1a;
	--color-hml-red-500: var(--color-hml-red);
	--color-hml-red-300: #e9586d;
	--color-hml-red-100: #f39ba8;
	--color-hml-red-50: #fbdfe3;

	--color-hml-mulberry-900: #250e11;
	--color-hml-mulberry-700: #552027;
	--color-hml-mulberry-500: var(--color-hml-mulberry);
	--color-hml-mulberry-300: #b7576c;
	--color-hml-mulberry-100: #dbb3bc;
	--color-hml-mulberry-50: #f2e8ea;

	--color-hml-yellow-900: #222404;
	--color-hml-yellow-700: #5a5f0c;
	--color-hml-yellow-500: #a2ac15;
	--color-hml-yellow-300: var(--color-hml-yellow);
	--color-hml-yellow-100: #f0f4a8;
	--color-hml-yellow-50: #f9fbe1;

	--color-hml-purple-900: #261a28;
	--color-hml-purple-700: var(--color-hml-purple);
	--color-hml-purple-500: #74447e;
	--color-hml-purple-300: #ae8bb6;
	--color-hml-purple-100: #ccbdd0;
	--color-hml-purple-50: #f0ebf1;

	--color-hml-slate-900: #161b1d;
	--color-hml-slate-800: #1d2426;
	--color-hml-slate-700: var(--color-hml-slate);
	--color-hml-slate-600: #324146;
	--color-hml-slate-500: #42585e;
	--color-hml-slate-300: #81989e;
	--color-hml-slate-100: #d4dadc;
	--color-hml-slate-50: #edf1f2;
}

@theme {
	--color-foreground: light-dark(var(--color-zinc-800), var(--color-zinc-100));
	--color-background: light-dark(var(--color-zinc-50), var(--color-zinc-900));
	--color-input: light-dark(var(--color-white), var(--color-hml-grey-600));

	--color-interactive: light-dark(var(--color-hml-red-500), var(--color-hml-yellow-300));
	--color-muted: light-dark(var(--color-hml-grey-400), var(--color-hml-slate-100));

	/* ! FORM FIELDS */
	--color-input: light-dark(var(--color-white), var(--color-hml-grey-600));
	--color-form-border: light-dark(var(--color-zinc-300), var(--color-hml-grey-600));
}

@layer base {
	html {
		background-color: var(--color-background);
		color: var(--color-foreground);
	}
}

@utility form-base {
	@apply has-data-disabled:opacity-50 has-data-disabled:before:bg-zinc-950/5 has-data-disabled:before:shadow-none;
}

@utility form-base-shadow {
	@apply before:bg-input before:absolute before:inset-px before:rounded-[calc(var(--radius-lg)-1px)] before:shadow-sm dark:before:hidden;
}
@utility form-base-focus {
	@apply sm:focus-within:after:ring-interactive/60 after:pointer-events-none after:absolute after:inset-0 after:rounded-lg after:ring-transparent after:ring-inset sm:focus-within:after:ring-2;
}

@utility form-border {
	@apply dark:border-form-border rounded-lg border border-zinc-950/10 focus:outline-hidden data-hover:border-zinc-950/20 dark:data-hover:border-white/20;

	&[data-invalid] {
		@apply border-red-500/40 data-hover:border-red-500 dark:border-red-600/40 dark:data-hover:border-red-600;
	}
	&:is([data-invalid] *) {
		@apply border-red-500/40 data-hover:border-red-500 dark:border-red-600/40 dark:data-hover:border-red-600;
	}
	&[data-disabled] {
		@apply border-form-border dark:border-form-border dark:data-hover:border-form-border;
	}
}

@utility form-bg {
	@apply dark:bg-input/30 dark:data-disabled:bg-input/15 bg-transparent;
}

@utility form-text {
	@apply text-base/6 text-zinc-950 placeholder:text-zinc-500 sm:text-sm/6 dark:text-white;
}
